<launch>
  <arg name="drive" default="true"/>
  <arg name="jsX" default="0"/>
  <arg name="mapping" default="false"/>
  <arg name="planning" default="true"/>
  <arg name="tf" default="true"/>
  <param name="joystick_controller/dev" value="/dev/input/js$(arg jsX)"/>
  <!-- Drive Control Nodes -->
  <group if="$(arg drive)">
    <node name="joystick_controller" pkg="joy" type="joy_node"/>
    <node pkg="rover_5_navigation" type="driver.py" name="driver"/>
  </group>
  <!-- Tf Setup -->
  <group if="$(arg tf)">
    <param name="robot_description" command="$(find xacro)/xacro $(find rover_5_navigation)/urdf/rover_5.urdf meshDirectory:=$(find rover_5_navigation)/meshes/" />
    <node name="camera_to_model" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /intel_realsense /camera_link 10"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  </group>
  <!-- Mapping -->
  <group if="$(arg mapping)">
    <include file="$(find rover_5_navigation)/launch/mapping.launch"/>
  </group>
  <node unless="$(arg mapping)" pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" output="screen">
     <param name="subscribe_depth" type="bool" value="true"/>
     <param name="subscribe_odom_info" type="bool" value="true"/>
     <param name="queue_size" type="int" value="50"/>
     <param name="frame_id" type="string" value="camera_link"/>
     <remap from="depth/image" to="/camera/data_throttled_image_depth"/>
     <remap from="rgb/camera_info" to="/camera/data_throttled_camera_info"/>
     <remap from="rgb/image" to="/camera/data_throttled_image"/>
     <remap from="odom_info" to="/rtabmap/odom_info"/>
     <remap from="odom" to="/rtabmap/odom"/>
  </node>
  <!-- Planning -->
  <group ns="planner" if="$(arg planning)">
    <remap from="/camera/depth_registered/points" to="/planner_cloud"/>
    <remap from="map" to="/rtabmap/grid_map"/>
    <remap from="move_base_simple/goal" to="/planner_goal"/>
      
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find rover_5_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find rover_5_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find rover_5_navigation)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find rover_5_navigation)/config/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find rover_5_navigation)/config/base_local_planner_params.yaml" command="load" />
    </node>
  </group>
</launch>