
<launch>
  <arg name="drive" default="true"/>
  <arg name="jsX" default="0"/>
  <arg name="mapping" default="false"/>
  <param name="joystick_controller/dev" value="/dev/input/js$(arg jsX)"/>
  <!-- Drive Control Nodes -->
  <group if="$(arg drive)">
    <node name="joystick_controller" pkg="joy" type="joy_node"/>
    <node pkg="rover_5_navigation" type="driver.py" name="driver"/>
  </group>
  <group if="$(arg mapping)">
    <include file="$(find rover_5_navigation)/launch/mapping.launch"/>
  </group>
  <node pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" output="screen">
</launch>