<launch>
  <arg name="rvizconfig" default="$(find rover_5_navigation)/rviz/urdf.rviz" />
  <arg name="gui" default="true"/>
  <arg name="mapping" default="true"/>
  <arg name="planning" default="false"/>
  <arg name="tf" default="true"/>
  <arg name="jsX" default="0"/>
  <param name="joynode/dev" value="/dev/input/js$(arg jsX)"/>
  <!-- Drive Control Nodes -->
  <group>
    <node name="joystick_controller" pkg="joy" type="joy_node"/>
    <node pkg="rover_5_navigation" type="driver.py" name="driver"/>
  </group>
  <!-- Tf Setup -->
  <group if="$(arg tf)">
    <param name="robot_description" command="$(find xacro)/xacro $(find rover_5_navigation)/urdf/rover_5.urdf meshDirectory:=$(find rover_5_navigation)/meshes/" />
    <node name="imu_to_phidgets" pkg="tf" type="static_transform_publisher" args="1 0 0 0 0 0 1 /phidgets_imu /imu 10"/>
    <node name="camera_to_model" pkg="tf" type="static_transform_publisher" args="0 0 0 1.570795 0 -1.570795 /intel_realsense /_link 10"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  </group>
  <!-- Odometry Setup -->
  <group>
    <node pkg="robot_localization" type="ukf_localization_node" name="ukf_se" clear_params="true">
      <rosparam command="load" file="$(find rover_5_navigation)/config/ukf_localization.yaml" />
    </node>
  </group>
  <!-- Mapping Configuration -->
  <group ns="rtabmap" if="$(arg mapping)">   
    <include file="$(find rover_5_navigation)/launch/rtabmap.launch"/>
  </group>
  <!-- Path Planning Configuration -->
  <group ns="planner" if="$(arg planning)">
    <remap from="/camera/depth_registered/points" to="/planner_cloud"/>
    <remap from="map" to="/rtabmap/proj_map"/>
    <remap from="move_base_simple/goal" to="/planner_goal"/>
      
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find rover_5_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find rover_5_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find rover_5_navigation)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find rover_5_navigation)/config/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find rover_5_navigation)/config/base_local_planner_params.yaml" command="load" />
    </node>
  </group>
  <!-- Gui? -->
  <group ns="gui" if="$(arg gui)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>
  </group>
</launch>
