<launch>
    <!-- Drive Control Node -->
    <!-- <node pkg="rover_5_navigation" type="base_controller.py" name="base_controller"> -->
    <!-- Launch sensors -->
    <include file="$(find rover_5_navigation)/launch/usb_gps.launch"/>
    <include file="$(find phidgets_imu)/launch/imu.launch"/>
	  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/>

    <!-- Tf Setup -->
    <param name="robot_description" command="$(find xacro)/xacro $(find rover_5_navigation)/urdf/rover_5.urdf meshDirectory:=$(find rover_5_navigation)/meshes/" />
    <node name="world_to_map" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 /base_link /map 100"/>
    <node name="imu_to_phidgets" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 /phidgets_imu /imu 100"/>
    <node name="odom_to_base_link" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 /base_link /odom 100"/>
    <node name="camera_to_model" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 /intel_realsense /camera_link 100"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <!-- Odometry Setup - Currently getting data from the Realsense's built-in IMU published on /odom, might need to use robot_localization to convert /imu from phidgets 
    Can also theoretically add stereo odometry from rtabmap_ros for added precision. GPS can also be integrated, with some effort -->

    <!-- Mapping Configuration -->

    <!-- Path Planning Configuration -->
    <!-- <group ns="planner">
      <remap from="/camera/depth_registered/points" to="/planner_cloud"/>
      <remap from="map" to="/rtabmap/proj_map"/>
      <remap from="move_base_simple/goal" to="/planner_goal"/>
        
      <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find rover_5_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find rover_5_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find rover_5_navigation)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find rover_5_navigation)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find rover_5_navigation)/config/base_local_planner_params.yaml" command="load" />
      </node>
   </group> -->

  <!-- Gui? -->
  <arg name="gui" default="false" />
  <arg name="rvizconfig" default="$(find rover_5_navigation)/rviz/urdf.rviz" />
  <group if="$(arg gui)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>
  </group>
</launch>
